.password_accepted_indicator {
        margin-top: 6px;
        margin-bottom: 6px;
        display: inline;
        float: right;
}

.password_accepted_indicator div {
        display: inline;
        float: left;
}

.password_accepted_indicator .box_container {
        border: solid #000000 1px;
        width: 40px;
        margin-right: 6px;
}

.password_accepted_indicator .box_denied {
        background-color: #ff0000;
}

.password_accepted_indicator .box_accepted {
        background-color: #0CFF06;
}

.password_accepted_indicator .text_container {
            font-weight: bold;
}

.password_accepted_indicator .text_accepted {
            color: #000000;
}

.password_accepted_indicator .text_denied {
            color: #FF0000;
}
