.password_accepted_indicator {
        display: inline;
        float: left;
}

.password_accepted_indicator div {
        display: inline;
        float: left;
}

.password_accepted_indicator .box_container {
        border: solid #000000 1px;
        width: 40px;
        margin-right: 6px;
        background-color: #0CFF06
}
